*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{


    background-color: lightskyblue;
}





.card{

   width: 600px ;
   height: 200px;
   border: 1px solid;
   background-color: lightseagreen;
   
  

}
.card2{

    width: 400px ;
    height: 200px;
    border: 1px solid;
    background-color: lightseagreen;
    
   
 
 }